<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoHospitalGambia"
        tools:targetApi="31">
        <activity
            android:name=".app.ActivityPulsioximetro"
            android:exported="false" />
        <activity
            android:name=".app.activity_termometro"
            android:exported="false"
            android:theme="@style/Theme.ProyectoHospitalGambia" />
        <activity
            android:name=".feature.vistaInicio.InicioView"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.MainActivity" />
        <activity android:name=".feature.vistaAbout.AboutView" />
        <activity android:name=".feature.vistaAjustesConexion.AjustesConexionView" />
        <activity android:name=".feature.vistaProfile.ProfileView" />
        <activity android:name=".feature.vistaRegistro.RegistroView" />
    </application>

</manifest>